Ex 1 : Check the lenght of the string "My name is python"

In [7]:
my_name= "My name is python"
len(my_name)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [8]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

s.lower().count("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [19]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [20]:
my_dict = {"Name":["Myo","Thida"],"Age":[32,64]}
print(my_dict)
my_dict.keys()

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

dict_keys(['Name', 'Age'])

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [22]:
 set1 = {"Name", "age", "Height"}
 set2 = {"Name", "status", "Education"}
 print(set1.union(set2))
 print(len(set1.union(set2)))

{'Education', 'age', 'Height', 'status', 'Name'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [32]:
 UStr= input("Enter a string: ")
 new_string= UStr.replace(UStr[1],'*')+"!!!"
 print(new_string)

Enter a string: ILoveNewYork!
I*oveNewYork!!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [33]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s= s.lower().replace("-","").replace(";","").replace(",","").replace(".","")
print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [42]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

{30}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [44]:
 ls1 = ["apple", "banana", "cherry"]
 ls2= ls1.copy()
 ls2.append("blueberry")
 print(ls1)
 print(ls2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'blueberry']